<template>

	<div class="Adduser">
		 <label>
			 <span>ФИО: </span>
			 <input type="text" size="40" v-model = "item.fio"/>
		</label>
		<label>
			 <span>Email: </span>
			 <input type="text" size="40" v-model = "item.email"/>
		</label>
		<label>
			 <span>Login: </span>
			 <input type="text" size="40" v-model = "item.login"/>
		</label>
		<label>
			 <span>Password: </span>
			 <input type="text" size="40" v-model = "item.password"/>
		</label>
		<input type="button" value="Save" @click="klac"/>
	</div>
	
	
</template>

<script>
export default {
	name: 'user',
	
	created(){
		
	},
	methods:{
		klac(){
			let arr = this.$root.items
			console.log(arr[arr.length-1].id)
			this.item.id = arr[arr.length-1].id++
			this.$root.items.push(this.item)
			console.log(arr)
			// let id = this.$route.params.id
			// var Arr = this.$root.items.filter(function(item) {
			// 	 return item.id == id;

			// })

			// this.item = Arr[0];
			
		}
	
	},
	data(){
    return {
		item:{
			fio: "",
			email: "",
			login: "",
			password: "",
			id: "",
	  }
	  
    }
  }
	
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.id {
	
}
label {
display: block;
}
</style>
