<template>

	<div class="Authuser">
		<label>
			 <span>Login: </span>
			 <input type="text" size="40" v-model = "login"/>
		</label>
		<label>
			 <span>Password: </span>
			 <input type="text" size="40" v-model = "password"/>
		</label>
		<input type="button" value="login" @click="klac"/>
	</div>
	
	
</template>

<script>
export default {
	name: 'user',
	
	created(){
		
	},
	methods:{
		klac(){
			this.$root.items
			let login = this.login;
			var Arr = this.$root.items.filter(function(item) {
				return item.login == login;
			})
			
			if (Arr.length != 0 && Arr[0].password == this.password){
				this.$router.push({path: '/users/'})
			} else {
				alert ("Неправильный логин или пароль")
			}
		}
	
	},
	data(){
    return {
		
			login: "",
			password: "",
			authErr: "",
			authReady: false

	  
    }
  }
	
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.id {
	
}
label {
display: block;
}
</style>
