<template>
 <div class="sidebar">
     <div class="g-content g-particle">
        
<router-link class="menu" :to="{path:'/'}">
    Главная
</router-link>
</div>
 
  </div>


</template>

<script>
export default {
  name: 'Sidebar',
  
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
a.menu, a.menu:visited {
color:black;
text-decoration: none;
}

</style>
