<template>

	<div class="user">
		<div class="id">
			<div>
				<span>ID:</span>
				<span>{{item.id}}</span>
			</div>
			<div>
				<span>ФИО:</span>
				<span>{{item.fio}}</span>
			</div>
			<div>
				<span>Логин:</span>
				<span>{{item.login}}</span>
			</div>
			<div>
				<span>Email:</span>
				<span>{{item.email}}</span>
	</div>
	</div>
	</div>
</template>

<script>
export default {
	name: 'user',
	
	created(){
		this.consolelog() 
	},
	methods:{
		consolelog(){
			this.$root.items
			let id = this.$route.params.id
			var Arr = this.$root.items.filter(function(item) {
				 return item.id == id;

			})

			this.item = Arr[0];
			
		}
	
	},
	data(){
    return {
      item: {}
    }
  }
	
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.id {
	
}
</style>
