<template>
	<div class="hello">
		
		<table>
			<tr class="table" v-for='(item,index) in $root.items' :key='item.id' v-on:click="$router.push({path: '/users/'+item.id})">
				<td>{{item.id}}</td>
				<td>{{item.fio}}</td>
				<td>{{item.login}}</td>
				<td>{{item.password}}</td>
				<td>{{item.email}}</td>
				<td @click.stop="deleteUser(index)" class='sanya'>X</td>
			</tr>
		</table>
		<router-link class="menu" :to="{path:'/users/add'}">
    		Добавить пользователя
		</router-link>
	</div>
</template>

<script>
export default {
	name: 'Users',
	methods:{
		deleteUser(index){
			this.$root.items.splice(index, 1);
		}
		
		
	}

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
table {
width: 100%;

}
table tr:nth-child(2n){
	background: #eee;
}
.sanya {
	cursor: pointer;
}
</style>
