<template>

  <div id="app">
    <Sidebar class="s-bar"/>
    <router-view></router-view>
  </div>
</template>

<script>
import Sidebar from './components/Sidebar.vue'

export default {
  name: 'app',
  components: {
    Sidebar
  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap&subset=cyrillic');
.s-bar{
  font-family: 'Pacifico', cursive;
  font-size: 35px;
  position: fixed;
  left: 0;
  width: 200px;
  background:darkgrey;
  height: 100vh;
  top: 0;
}
#app {
  
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  padding-left:200px;
  
}
</style>
